* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 540px;
  margin: 0 auto;

  text-align: center;
}

p {
  font-size: 32px;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 54px 0 0;

  li {
    flex: 1;
    text-align: center;
  }

  button {
    all: unset;
    cursor: pointer;
    position: relative;

    img {
      pointer-events: none;
    }

    span {
      opacity: 0;
      width: 94%;
      font-size: 10px;
      padding: 2px;
      position: absolute;
      top: -26px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: #dc051e;
      color: #fff;
      font-weight: bold;
      border-radius: 4px;
      transition: opacity 0.3s, transform 0.3s;
      transform: translateY(4px);
    }

    span::after {
      display: block;
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 8.7px 5px 0 5px;
      border-color: #dc051e transparent transparent transparent;
      transform: rotate(0deg);
    }

    span.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
